body {
  background-color: #fbdcdc;
  height: 100%;
  margin: 0;
}

.birthday-card {
  position: relative;
  width: 300px;
  height: 415px;
  border: 10px solid;
  border-color: #ef5050;
  margin: 60px auto 0 auto;
  box-shadow: inset 10px 0px 15px 0px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(
      to bottom,
      rgb(173, 169, 169),
      rgba(223, 223, 223, 0.466)
    ),
    url("https://plus.unsplash.com/premium_photo-1671395156589-60e35bfb346a?fm=jpg&w=3000&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8Y2FrZSUyMGJpcnRoZGF5fGVufDB8fDB8fHww");
  background-repeat: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text {
  width: 90%;
  height: 90%;
  margin: auto;
  font-family: "Nobile", sans-serif;
  > p {
    font-size: 1.1em;
    color: #000000;
    list-style: 1.4;
    font-style: italic;
    text-align: center;
    margin: 20px auto 0 auto;
  }
  .title {
    font-size: 1.5em;
    margin: 20px auto 30px auto;
  }
}

.cover-outer {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: -10px 0 0 -10px;
  border: 10px solid;
  border-color: #ef5050;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transform-origin: 0% 50%;
  transform: perspective(800px) rotateY(0deg);
  transition: all 0.8s ease-in-out;

  img {
    box-shadow: 0px 6px 11px 7px rgba(0, 0, 0, 0.22);
    border-radius: 5px;
  }
}

.cover-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 10px solid;
  border-color: #ef5050;
  background-color: #ef5050;
  margin: -10px 0px 0 -10px;
  backface-visibility: visible;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
  transform-style: preserve-3d;
  transform-origin: 0% 50%;
  transform: perspective(800px) rotateY(0deg);
  transition: all 0.8s ease-in-out;
  overflow: hidden;

  img {
    transform: rotateY('170deg');
  }
}

.birthday-card:hover {
    .cover-outer{
        transform: perspective(800px) rotateY(-170deg);
    }
    .cover-inner{
        transform: perspective(800px) rotateY(-170deg);
        box-shadow: 7px 0 5px 0 rgba(0,0,0,0.3),
        inset 2px 0px 15px 0px rgba(0, 0, 0, 0.1);
    }
}
